
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 143.9rem;
}.frame-1-46m {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-qjnu-gtq {
    width: 144rem;
    height: 102.4rem;
    position: relative;
    background-color: #d9d9d9;
    flex-shrink: 0;

    .rectangle-7-b8d {
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(180deg, rgba(30, 27, 27, 0.6499999762) -0%, rgba(0, 0, 0, 0.7599999905) 100%);
      width: 83.7rem;
      height: 102.4rem;
    }
    .hello-there--2Dw {
      width: 39.3rem;
      position: absolute;
      left: 6.2rem;
      color: #ffffff;
      white-space: nowrap;
      height: 5rem;
      top: 23.1rem;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.25;
      font-family: Krona One, 'Source Sans Pro';
    }
    .im-wendiyan-ryf {
      width: 55.5rem;
      left: 6.2rem;
      top: 27.8rem;
      font-weight: 400;
      line-height: 1.25;
      height: 7.5rem;
      position: absolute;
      font-size: 6rem;
      color: #ffffff;
      font-family: Krona One, 'Source Sans Pro';
      white-space: nowrap;
    }
    .rectangle-9-wER {
      height: 3.1rem;
      position: absolute;
      left: 6.2rem;
      top: 38.6rem;
      background-color: #d9d9d9;
      width: 55.6rem;
    }
    .graphic-designer-video-graphic-4pq {
      top: 39.1rem;
      color: #1c1a1a;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.25;
      width: 39.7rem;
      height: 2rem;
      position: absolute;
      left: 14.15rem;
      text-align: center;
      font-family: Krona One, 'Source Sans Pro';
      white-space: nowrap;
    }
    .hello-my-name-is-wendiyan-saputra-a-desain-graphic-video-graphic-ho-can-make-like-magazin-poster-and-video-editor-and-you-will-love-to-see-how-i-make-edit-video-xfK {
      width: 71rem;
      position: absolute;
      left: 6.2rem;
      font-size: 2.5rem;
      font-weight: 400;
      height: 12.5rem;
      top: 48rem;
      line-height: 1.25;
      color: #ffffff;
      font-family: Krona One, 'Source Sans Pro';
    }
    .rectangle-10-zru {
      background-color: #d9d9d9;
      border-radius: 7.8rem;
      width: 23.3rem;
      height: 4rem;
      position: absolute;
      left: 6.2rem;
      top: 65.3rem;
    }
    .here-about-me-KuB {
      position: absolute;
      left: 9.2rem;
      line-height: 1.25;
      font-family: Krona One, 'Source Sans Pro';
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      width: 17.2rem;
      height: 2rem;
      top: 66.1rem;
      font-size: 1.6rem;
    }
  }
  .frame-2-RSR {
    width: 144rem;
    height: 102.4rem;
    position: relative;
    overflow: hidden;
    background-color: #d9d9d9;
    flex-shrink: 0;

    .wendiyan-xSM {
      height: 7.5rem;
      position: absolute;
      left: 0;
      font-size: 6rem;
      line-height: 1.25;
      font-family: Krona One, 'Source Sans Pro';
      width: 42.5rem;
      top: 5rem;
      font-weight: 400;
      color: #ffffff;
      white-space: nowrap;
    }
    .rectangle-11-UvV {
      position: absolute;
      left: 21.2rem;
      top: 24.9rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      width: 58.6rem;
      height: 10.4rem;
    }
    .about-me-ztq {
      font-family: Inria Sans, 'Source Sans Pro';
      height: 11.5rem;
      left: 28.1rem;
      font-size: 9.6rem;
      font-weight: 700;
      color: #000000;
      width: 43.9rem;
      position: absolute;
      top: 23.9rem;
      line-height: 1.1975;
      white-space: nowrap;
    }
    .hello-im-wendiyan-saputragraphic-designer-video-grapic-uku {
      top: 39.7rem;
      font-size: 3.2rem;
      line-height: 1.25;
      width: 124.9rem;
      height: 4rem;
      position: absolute;
      left: 9.5rem;
      font-weight: 400;
      color: #000000;
      font-family: Krona One, 'Source Sans Pro';
      white-space: nowrap;
    }
    .i-can-make-design-and-editing-videos-this-is-the-application-that-i-use-Czu {
      font-family: Krona One, 'Source Sans Pro';
      width: 101.4rem;
      position: absolute;
      left: 9.5rem;
      top: 47.2rem;
      font-size: 3.2rem;
      height: 8rem;
      font-weight: 400;
      line-height: 1.25;
      color: #000000;
    }
    .image-5-VUD {
      width: 26.6rem;
      height: 25.9rem;
      position: absolute;
      left: 21.2rem;
      top: 63.6rem;
      object-fit: cover;
      vertical-align: top;
    }
    .image-5-oUu {
      left: 93.2rem;
      top: 64.3rem;
      object-fit: cover;
      vertical-align: top;
      width: 25.2rem;
      height: 24.6rem;
      position: absolute;
    }
  }
  .frame-3-8GH {
    flex-shrink: 0;
    width: 144rem;
    height: 102.4rem;
    position: relative;
    overflow: hidden;
    background-color: #d9d9d9;

    .wendiyan-Ub3 {
      height: 7.5rem;
      left: 0;
      line-height: 1.25;
      font-family: Krona One, 'Source Sans Pro';
      white-space: nowrap;
      width: 42.5rem;
      position: absolute;
      top: 5.4rem;
      font-size: 6rem;
      font-weight: 400;
      color: #ffffff;
    }
    .image-6-NwK {
      width: 35.1rem;
      height: 34.3rem;
      position: absolute;
      left: 23.1rem;
      top: 42.3rem;
      object-fit: cover;
      vertical-align: top;
    }
    .image-6-K5s {
      top: 42.3rem;
      object-fit: cover;
      vertical-align: top;
      width: 35.1rem;
      height: 34.3rem;
      position: absolute;
      left: 86.9rem;
    }
  }
  .auto-group-zj1x-qpu {
    box-sizing: border-box;
    padding: 3.3rem 11.1rem 17.5rem 11rem;
    width: 144rem;
    background-color: #d9d9d9;
    flex-shrink: 0;

    .image-7-AcH {
      margin-bottom: 11.5rem;
      width: 29.5rem;
      height: 29.6rem;
      object-fit: cover;
      vertical-align: top;
    }
    .auto-group-a1wx-Wg9 {
      width: 100%;
      display: flex;
      align-items: center;

      .artboard-1-2-U7B {
        height: 40.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 8.4rem;
        width: 55.5rem;
      }
      .artboard-11-2-Pzq {
        width: 58rem;
        height: 40.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-xkbx-L9P {
    flex-shrink: 0;
    width: 144rem;
    height: 102.4rem;
    position: relative;

    .portofolio-GHw {
      left: 110.9rem;
      font-size: 4.8rem;
      color: #ffffff;
      font-family: Inria Sans, 'Source Sans Pro';
      width: 26.9rem;
      height: 5.8rem;
      position: absolute;
      line-height: 1.1975;
      white-space: nowrap;
      top: 3rem;
      text-align: center;
      font-weight: 700;
    }
    .frame-6-n1P {
      width: 144rem;
      height: 102.4rem;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      background-color: #d9d9d9;

      .image-7-85F {
        height: 29.6rem;
        position: absolute;
        left: 9.7rem;
        top: 3.3rem;
        object-fit: cover;
        vertical-align: top;
        width: 29.5rem;
      }
      .image-7-fL5 {
        object-fit: cover;
        vertical-align: top;
        width: 55.1rem;
        height: 39rem;
        position: absolute;
        left: 74.3rem;
        top: 44.4rem;
      }
      .depan-remake-2-nvV {
        object-fit: cover;
        vertical-align: top;
        width: 55.5rem;
        height: 39rem;
        position: absolute;
        left: 9.7rem;
        top: 44.4rem;
      }
    }
  }
  .frame-4-i3T {
    width: 144rem;
    height: 102.4rem;
    position: relative;
    overflow: hidden;
    background-color: #d9d9d9;
    flex-shrink: 0;

    .image-7-rvM {
      width: 29.6rem;
      height: 28.9rem;
      position: absolute;
      left: 10.8rem;
      top: 3.3rem;
      object-fit: cover;
      vertical-align: top;
    }
    .image-10-zWm {
      position: absolute;
      left: 10.8rem;
      top: 44.4rem;
      object-fit: cover;
      vertical-align: top;
      width: 55.5rem;
      height: 31.3rem;
    }
    .image-11-jjF {
      top: 44.4rem;
      object-fit: cover;
      vertical-align: top;
      width: 55.5rem;
      height: 31.3rem;
      position: absolute;
      left: 73.7rem;
    }
  }
  .frame-5-fso {
    height: 102.4rem;
    position: relative;
    overflow: hidden;
    background-color: #d9d9d9;
    flex-shrink: 0;
    width: 144rem;

    .image-7-DuK {
      vertical-align: top;
      width: 29.6rem;
      height: 28.9rem;
      position: absolute;
      left: 10.8rem;
      top: 3.3rem;
      object-fit: cover;
    }
    .image-12-MVj {
      width: 55.5rem;
      height: 31.3rem;
      position: absolute;
      left: 10.8rem;
      top: 45.1rem;
      object-fit: cover;
      vertical-align: top;
    }
    .image-12-Vbw {
      width: 55.5rem;
      height: 31.3rem;
      position: absolute;
      left: 76.7rem;
      top: 45.1rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
}
