
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 143.9rem;
}.frame-1-46m {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.frame-1-46m .auto-group-qjnu-gtq {
  width: 144rem;
  height: 102.4rem;
  position: relative;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.frame-1-46m .auto-group-qjnu-gtq .rectangle-7-b8d {
  width: 83.7rem;
  height: 102.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(30, 27, 27, 0.6499999762) -0%, rgba(0, 0, 0, 0.7599999905) 100%);
}
.frame-1-46m .auto-group-qjnu-gtq .hello-there--2Dw {
  width: 39.3rem;
  height: 5rem;
  position: absolute;
  left: 6.2rem;
  top: 23.1rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Krona One, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-1-46m .auto-group-qjnu-gtq .im-wendiyan-ryf {
  width: 55.5rem;
  height: 7.5rem;
  position: absolute;
  left: 6.2rem;
  top: 27.8rem;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Krona One, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-1-46m .auto-group-qjnu-gtq .rectangle-9-wER {
  width: 55.6rem;
  height: 3.1rem;
  position: absolute;
  left: 6.2rem;
  top: 38.6rem;
  background-color: #d9d9d9;
}
.frame-1-46m .auto-group-qjnu-gtq .graphic-designer-video-graphic-4pq {
  width: 39.7rem;
  height: 2rem;
  position: absolute;
  left: 14.15rem;
  top: 39.1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #1c1a1a;
  font-family: Krona One, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-1-46m .auto-group-qjnu-gtq .hello-my-name-is-wendiyan-saputra-a-desain-graphic-video-graphic-ho-can-make-like-magazin-poster-and-video-editor-and-you-will-love-to-see-how-i-make-edit-video-xfK {
  width: 71rem;
  height: 12.5rem;
  position: absolute;
  left: 6.2rem;
  top: 48rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Krona One, 'Source Sans Pro';
}
.frame-1-46m .auto-group-qjnu-gtq .rectangle-10-zru {
  width: 23.3rem;
  height: 4rem;
  position: absolute;
  left: 6.2rem;
  top: 65.3rem;
  background-color: #d9d9d9;
  border-radius: 7.8rem;
}
.frame-1-46m .auto-group-qjnu-gtq .here-about-me-KuB {
  width: 17.2rem;
  height: 2rem;
  position: absolute;
  left: 9.2rem;
  top: 66.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Krona One, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-1-46m .frame-2-RSR {
  width: 144rem;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.frame-1-46m .frame-2-RSR .wendiyan-xSM {
  width: 42.5rem;
  height: 7.5rem;
  position: absolute;
  left: 0;
  top: 5rem;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Krona One, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-1-46m .frame-2-RSR .rectangle-11-UvV {
  width: 58.6rem;
  height: 10.4rem;
  position: absolute;
  left: 21.2rem;
  top: 24.9rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
}
.frame-1-46m .frame-2-RSR .about-me-ztq {
  width: 43.9rem;
  height: 11.5rem;
  position: absolute;
  left: 28.1rem;
  top: 23.9rem;
  font-size: 9.6rem;
  font-weight: 700;
  line-height: 1.1975;
  color: #000000;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-1-46m .frame-2-RSR .hello-im-wendiyan-saputragraphic-designer-video-grapic-uku {
  width: 124.9rem;
  height: 4rem;
  position: absolute;
  left: 9.5rem;
  top: 39.7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Krona One, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-1-46m .frame-2-RSR .i-can-make-design-and-editing-videos-this-is-the-application-that-i-use-Czu {
  width: 101.4rem;
  height: 8rem;
  position: absolute;
  left: 9.5rem;
  top: 47.2rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #000000;
  font-family: Krona One, 'Source Sans Pro';
}
.frame-1-46m .frame-2-RSR .image-5-VUD {
  width: 26.6rem;
  height: 25.9rem;
  position: absolute;
  left: 21.2rem;
  top: 63.6rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-1-46m .frame-2-RSR .image-5-oUu {
  width: 25.2rem;
  height: 24.6rem;
  position: absolute;
  left: 93.2rem;
  top: 64.3rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-1-46m .frame-3-8GH {
  width: 144rem;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.frame-1-46m .frame-3-8GH .wendiyan-Ub3 {
  width: 42.5rem;
  height: 7.5rem;
  position: absolute;
  left: 0;
  top: 5.4rem;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Krona One, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-1-46m .frame-3-8GH .image-6-NwK {
  width: 35.1rem;
  height: 34.3rem;
  position: absolute;
  left: 23.1rem;
  top: 42.3rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-1-46m .frame-3-8GH .image-6-K5s {
  width: 35.1rem;
  height: 34.3rem;
  position: absolute;
  left: 86.9rem;
  top: 42.3rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-1-46m .auto-group-zj1x-qpu {
  box-sizing: border-box;
  padding: 3.3rem 11.1rem 17.5rem 11rem;
  width: 144rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.frame-1-46m .auto-group-zj1x-qpu .image-7-AcH {
  margin-bottom: 11.5rem;
  width: 29.5rem;
  height: 29.6rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-1-46m .auto-group-zj1x-qpu .auto-group-a1wx-Wg9 {
  width: 100%;
  display: flex;
  align-items: center;
}
.frame-1-46m .auto-group-zj1x-qpu .auto-group-a1wx-Wg9 .artboard-1-2-U7B {
  margin-right: 8.4rem;
  width: 55.5rem;
  height: 40.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-46m .auto-group-zj1x-qpu .auto-group-a1wx-Wg9 .artboard-11-2-Pzq {
  width: 58rem;
  height: 40.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-46m .auto-group-xkbx-L9P {
  width: 144rem;
  height: 102.4rem;
  position: relative;
  flex-shrink: 0;
}
.frame-1-46m .auto-group-xkbx-L9P .portofolio-GHw {
  width: 26.9rem;
  height: 5.8rem;
  position: absolute;
  left: 110.9rem;
  top: 3rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-1-46m .auto-group-xkbx-L9P .frame-6-n1P {
  width: 144rem;
  height: 102.4rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #d9d9d9;
}
.frame-1-46m .auto-group-xkbx-L9P .frame-6-n1P .image-7-85F {
  width: 29.5rem;
  height: 29.6rem;
  position: absolute;
  left: 9.7rem;
  top: 3.3rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-1-46m .auto-group-xkbx-L9P .frame-6-n1P .image-7-fL5 {
  width: 55.1rem;
  height: 39rem;
  position: absolute;
  left: 74.3rem;
  top: 44.4rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-1-46m .auto-group-xkbx-L9P .frame-6-n1P .depan-remake-2-nvV {
  width: 55.5rem;
  height: 39rem;
  position: absolute;
  left: 9.7rem;
  top: 44.4rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-1-46m .frame-4-i3T {
  width: 144rem;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.frame-1-46m .frame-4-i3T .image-7-rvM {
  width: 29.6rem;
  height: 28.9rem;
  position: absolute;
  left: 10.8rem;
  top: 3.3rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-1-46m .frame-4-i3T .image-10-zWm {
  width: 55.5rem;
  height: 31.3rem;
  position: absolute;
  left: 10.8rem;
  top: 44.4rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-1-46m .frame-4-i3T .image-11-jjF {
  width: 55.5rem;
  height: 31.3rem;
  position: absolute;
  left: 73.7rem;
  top: 44.4rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-1-46m .frame-5-fso {
  width: 144rem;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.frame-1-46m .frame-5-fso .image-7-DuK {
  width: 29.6rem;
  height: 28.9rem;
  position: absolute;
  left: 10.8rem;
  top: 3.3rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-1-46m .frame-5-fso .image-12-MVj {
  width: 55.5rem;
  height: 31.3rem;
  position: absolute;
  left: 10.8rem;
  top: 45.1rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-1-46m .frame-5-fso .image-12-Vbw {
  width: 55.5rem;
  height: 31.3rem;
  position: absolute;
  left: 76.7rem;
  top: 45.1rem;
  object-fit: cover;
  vertical-align: top;
}
